<div class="content text-center">
  <h1>fo-modal</h1>
  <p>
    A nice modal for Angular.
  </p>
  <button class="btn-demo" ng-click="open()">DEMO</button>

  <br/>
  <a class="github" href="https://github.com/forsigner/fo-modal" target="_blank">
    <i class="fa fa-github-alt"></i>
  </a>
</div>

<!-- ////////////////////////////////////////////////////////// -->
<script id="modal.html" type="text/ng-template">
  <div class="">
    <h2>Feature</h2>
    <ul class="list-unstyled list-feature">
      <li>Nice UI and easy customize</li>
      <li>Position middle in screen or anyWhere</li>
      <li>Api is Simple</li>
      <li>No jQuery is required</li>
    </ul>
  </div>
  <button class="btn btn-default" ng-click="close()">取消</button>
  <button class="btn btn-info" ng-click="yes()">确认</button>

</script>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
